.person-list-container {
  padding: 20px;
}

#person-list-container {
  background-color: white;
  padding: 20px;
}

.title {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.title h1 {
  color: white;
  margin: 0;
}

.person-card {
  background-color: #0097a7;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.user-name-uuid {
  background-color: #0097a7;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.person-content {
  display: flex;
  justify-content: flex-start;
}

.person-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.person-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  padding: 30px;
}

.detailsbtn {
  background-color: #0277bd;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.person-info {
  flex: 1;
  text-align: left;
}
